body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.frame {
    width: 393px;
    height: 852px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: url('../assets/background.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    width: 100%;
    padding: 20px;
}

.title {
    margin-top: 77px;
    color: #8B4513;
    font-size: 1.5em;
    font-weight: bold;
}

.subtitle {
    margin-top: 10px;
    color: #8B4513;
    font-size: 1em;
}

.keyword-section {
    margin-top: 30px;
}

.keyword-section h2 {
    color: #8B4513;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keywords button {
    padding: 10px 15px;
    border: 1px solid #8B4513;
    border-radius: 25px;
    background: transparent;
    color: #8B4513;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.keywords button:hover {
    background-color: #FFDA55;
    color: white;
    border: 0px;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #FFCE4F;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.submit-btn:hover {
    background-color: #FFC700;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
